technoinst/technoinst/local_settings.py
.idea/*
technoinst/.idea/*
technoinst/media/*
technoinst/frontend/.idea/*
db.sqlite3
*/__pycache__/*
# dependencies
technoinst/frontend/node_modules
technoinst/frontend/.pnp
technoinst/frontend/.pnp.js
venv/*
env/*
technoinst/leads/migrations/*

# testing
technoinst/frontend/coverage

# production
technoinst/frontend/static/frontend/main.js

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/public/*
frontend/__package.json

*.log
*.pot
*.pyc
__pycache__

