header {
    background: white;
    height: 55px;
    box-shadow: 0 0 20px #d9d9d9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1030;
}

header .button {
    margin-left: 7px;
}

.header-user-button > img {
    border-radius: 50%;
}

.header-user-button>img:hover {
    filter: unset;
}

header>.container {
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    position: relative;
}

.header__button-wrapper {
    display: flex;
}

.header__logo {
    font-weight: bold;
    font-size: 20px;
    width: max-content;
    margin: auto 5px;
    height: 55px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo>span {
    color: blueviolet;
    filter: drop-shadow(0 0 15px #8a2be2);
}


